
    <div class="ft_wrapper">
        <div class="ft_head">
            <div class="ft_logobox key_bg3">
                <a href="{{path('home')}}"><img class="ft_logo" src="{{ asset('assets/storage/logo/ecoIt2.png') }}" alt="logo EcoIt"></a> 
            </div>
        </div>
        <div class="ft_main">
            <div class="ft_main-contain">
                <ul class="ft_listlogo">
                    <li>
                        <a href="#"><img class="ft_otherlogo" 
                           src="{{ asset('assets/storage/logo/facebookNoir.png') }}" 
                           alt="logo_Facebook" 
                           title="Facebook icônes créées par riajulislam - Flaticon">
                        </a>
                    </li>
                    <li>
                        <a href="#"><img class="ft_otherlogo" 
                           src="{{ asset('assets/storage/logo/twitterNoir.png') }}" 
                           alt="logo_twitter"
                           title="Badge social twitter icônes créées par Freepik - Flaticon">
                        </a>
                    </li>
                    <li>
                        <a href="#"><img class="ft_otherlogo" 
                           src="{{ asset('assets/storage/logo/youtubeNoir.png') }}" 
                           alt="logo_youtube"
                           title="Youtube icônes créées par Freepik - Flaticon">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="ft_main-contain ft_main-contains">
                <ul class="ft_list-text">
                    <li><a class="font-f3 key_ftdw" href="#">Mentions légales</a></li>
                    <li><a class="font-f3 key_ftdw" href="#">Politique de confidentialité</a></li>
                    <li><a class="font-f3 key_ftdw" href="#">Paramétrage des cookies</a></li>
                </ul>
            </div>
        </div>
        <div class="ft_legs">
            <img class="ft_imgcertification" 
                 src="{{ asset('assets/storage/image/certification.png') }}" 
                 alt="Certification Qualité"
                 title="https://www.freepng.fr">
            <p class="ft_p font-f3">Certification Qualité</p>
        </div>
    </div>
    <div class="ft_footer key_bg1">
        <p class="ft_p2 ft_line font-f3">Copyright 2022</p>
        <p class="ft_p2 font-f3">EcoIt  -  L'école écologique du web</p>
    </div>

