{% extends 'base.html.twig' %}

{% block title %}home{% endblock %}
{% block styleSheets %}
    <link rel="stylesheet" href="{{ asset('assets/scss_instructor/home_instructor.css') }}">
{% endblock %}

{% block header %}
    {% include "base/_header.html.twig" %}
{% endblock %}

{% block main %}

    <section class="homeInstructor_section">
        <div class="home_wrapper key_ftdw">
            <div class="home_title">
                <h2 class="home_h2 key_ftdw font-f1">Bienvenue cher administrateur !</h2>
            </div>
            <div class="home_container">
                <div class="img-box">
                        <img class ="home_img" 
                            src="{{ asset('assets/storage/image/moniteur-ordi.png') }}" 
                            alt="Draw of a city at night"
                            title="https://www.freepng.fr">
                    </div>
                <div class="home_box">
                    <ul class="home_ul">
                        <li><a class="home_a key_bgwd key_ftdw font-f2" href="{{path('admin_instructors')}}">Gestion des Instructeurs</a></li>
                        <li><a class="home_a key_bgwd key_ftdw font-f2" href="{{path('admin_students')}}">Gestion des Etudiants</a></li>
                        <li><a class="home_a1 a2 key_bgwd key_ftdw font-f2" href="{{path('home')}}">Se déconnecter</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
