{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}
{% block styleSheets %}
    <link rel="stylesheet" href="{{ asset('assets/scss_home/register.css') }}">
{% endblock %}

{% block header %}
    {% include "base/_header.html.twig" %}
{% endblock %}

{% block main %}

    <section>
        <div class="subscribe_wrapper">
            <div class="subscribe_title key_bg2">
                <h2 class="subscribe_h2 key_ftdw font-f1">Inscription</h2>
            </div>
            <div class="subscribe_container key_bg1">
                <div class="img-box">
                    <img class ="subscribe_img" 
                         src="{{ asset('assets/storage/image/astronaut-subscribe.png') }}" 
                         alt="astronaut inviting you"
                         title="title="https://www.freepng.fr"">
                </div>
                <div class="form_box key_bg3">
                    {{ form_start(registrationForm, { 'attr' : { 'class': 'form' } }) }}
                        {{ form_row(registrationForm.pseudo, { label: 'Pseudo', 'attr' : { 'class': 'input key_ftdw font-f2', 'placeholder': 'Pseudonyme' } }) }}    
                        {{ form_row(registrationForm.email, { label: 'Email', 'attr' : { 'class': 'input key_ftdw font-f2', 'placeholder': 'Enter Email' } }) }}
                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Password', 
                            'attr' : { 'class': 'input key_ftdw font-f2', 'placeholder': 'Enter password' } }) }}
                        {# {{ form_row(registrationForm.Rgpd-Consent) }} #}
                        <button type="submit" class="button_subscribe key_ftw font-f3 key_bggreen">S'incrire</button>
                    {{ form_end(registrationForm) }}
                    <div class="cancel_box key_bg1">
                        <form action="{{path('home')}}" class="form">
                            <button class="button_cancel key_ftw font-f3 key_bgred" type="button">Cancel</button>
                        </form>
                        <span class="span_connexion key_ftdw font-f3"><a class="key_ftd" href="{{path('login')}}">Connexion</a></span>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}